.footer {
	padding: 10px 36px;
}

.copy {
	font-size: 11px;
	font-weight: 400;
	color: var(--c-text-faint);
	line-height: 16px;
	letter-spacing: 0.2px;
	opacity: 0.6;
}

@media (max-width: 1279px) {
	.footer {
		padding: 10px 24px;
	}
}

@media (max-width: 767px) {
	.footer {
		padding: 8px 16px;
	}
}
